
@import 'requiem-styles/dist/sass/requiem';

@include class('Playground') {
  @include flex-block('center', 'top');
  width: 100%;
  height: auto;
  padding: 50px;

  @include instance('grid') {
    & > div {
      width: 300px;
      height: 200px;
      background-color: #ccc;
    }
  }
}
