@import '~minuet/lib/sass/minuet';

playground-element, [is='playground-element'] {
  @include display('box>', top center);
  width: 100%;
  height: auto;
  padding: 50px;

  r-grid {
    line-height: 50px;
    div {
      width: 300px;
      height: 200px;
      background-color: #ccc;
    }
  }
}
