doctype html

html
  head
    title= 'Requiem Playground'
  body
    main#playground(data-class='Playground' data-instance='playground')
      div(data-class='Grid' data-instance='grid' data-orientation=0)
        div(data-instance='item')
        div(data-instance='item')
        div(data-instance='item')
        div(data-instance='item')
        div(data-instance='item')
        div(data-instance='item')
        div(data-instance='item')
        div(data-instance='item')
        div(data-instance='item')
        div(data-instance='item')
        div(data-instance='item')
        div(data-instance='item')
        div(data-instance='item')
        div(data-instance='item')
        div(data-instance='item')
        div(data-instance='item')
        div(data-instance='item')
        div(data-instance='item')
        div(data-instance='item')
        div(data-instance='item')
        div(data-instance='item')
        div(data-instance='item')
        div(data-instance='item')
        div(data-instance='item')
        div(data-instance='item')
        div(data-instance='item')
        div(data-instance='item')
        div(data-instance='item')
        div(data-instance='item')
        div(data-instance='item')
        div(data-instance='item')
        div(data-instance='item')
        div(data-instance='item')
        div(data-instance='item')
        div(data-instance='item')
        div(data-instance='item')
        div(data-instance='item')
        div(data-instance='item')
        div(data-instance='item')
        div(data-instance='item')
        div(data-instance='item')
        div(data-instance='item')
        div(data-instance='item')
        div(data-instance='item')
        div(data-instance='item')
        div(data-instance='item')
        div(data-instance='item')
        div(data-instance='item')
        div(data-instance='item')
        div(data-instance='item')
        div(data-instance='item')
        div(data-instance='item')
        div(data-instance='item')
        div(data-instance='item')
        div(data-instance='item')
        div(data-instance='item')
        div(data-instance='item')
        div(data-instance='item')
        div(data-instance='item')
        div(data-instance='item')
        div(data-instance='item')
        div(data-instance='item')
        div(data-instance='item')
        div(data-instance='item')
        div(data-instance='item')
        div(data-instance='item')
        div(data-instance='item')
        div(data-instance='item')
        div(data-instance='item')
        div(data-instance='item')
        div(data-instance='item')
        div(data-instance='item')
        div(data-instance='item')
        div(data-instance='item')
        div(data-instance='item')
        div(data-instance='item')
        div(data-instance='item')
        div(data-instance='item')
        div(data-instance='item')
        div(data-instance='item')
        div(data-instance='item')
        div(data-instance='item')
        div(data-instance='item')
        div(data-instance='item')
        div(data-instance='item')
        div(data-instance='item')
        div(data-instance='item')
        div(data-instance='item')
        div(data-instance='item')
        div(data-instance='item')
        div(data-instance='item')
        div(data-instance='item')
        div(data-instance='item')
        div(data-instance='item')
        div(data-instance='item')
        div(data-instance='item')
        div(data-instance='item')
        div(data-instance='item')
        div(data-instance='item')
        div(data-instance='item')
        div(data-instance='item')
        div(data-instance='item')
    script(src='/javascripts/main.js')
