doctype html

html
  head
    title= 'Requiem Playground'
    link(rel='shortcut icon' href='')
  body
    div(id='playground' is='playground-element' name='playground' data-foo='bar')
    script(src='/javascripts/main.js')
