doctype html

html
  head
    title= 'Requiem Playground'
    link(rel='shortcut icon' href='')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/webcomponentsjs/0.7.22/webcomponents.min.js')
  body
    div(is='playground-element' name='playground' data-foo='bar')
    script(src='/javascripts/main.js')
