extends ../layouts/base

block content
  main#playground(
    data-r-controller='Playground',
    data-r-foo=50,
    data-r-bar=1
  )
    div(
      data-r-controller='Bar',
      data-r-instance='bar'
    )
      button(data-r-instance='button')
