extends ../layouts/base

block content
  main(data-r-controller='Playground')
    div(data-r-instance='a')
      div(data-r-controller='Bar', data-vs-instance='b')
    div(data-r-instance='a')
    div(data-r-instance='a')
